/.gradle/
**/.gradle/
/.idea/
/.kotlin/
**/__pycache__/
*.py[cod]
/build/
/app/build/
/build-logic/*/build/
/local.properties
/sign.properties
/releases/
/app/releases/
/ci-apks/
*.apk
*.jks
*.keystore
*.iml
*.hprof
*.log
