<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.supermonster003.autojs6.plugin.bun.runtime.signaltrace">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="36" />
    <application android:allowBackup="false" android:debuggable="false" android:extractNativeLibs="true"
        android:label="Bun Signal Trace Diagnostic" android:testOnly="true" />
    <instrumentation android:name="io.github.supermonster003.autojs6.plugin.bun.runtime.signaltrace.TraceInstrumentation"
        android:targetPackage="io.github.supermonster003.autojs6.plugin.bun.runtime.signaltrace" />
</manifest>
